[user]
	email = dodo.savenay@gmail.com
	name = Dorian 'Renji' Peron
[core]
	editor = vim
[init]
	defaultBranch = master # So it does conform with Github
[advice]
	addIgnoredFile = false
[credential]
	helper = cache --timeout=6004
[push]
    # Automatically create the new branch on the remote when necessary
    autoSetupRemote = true
