{% extends "users/base_auth.html" %}
{% load i18n %}

{% block title %}
    Réinitialiser son mot de passe
{% endblock title %}

{% block form %}
    <p class="row">
        Nous vous avons envoyé par courriel les instructions pour changer de mot
        de passe, pour autant qu'un compte existe avec l'adresse que vous avez
        indiquée. Vous devriez recevoir rapidement ce message.
    </p>

    <p class="row">
        Si vous ne recevez pas de message, vérifiez que vous avez saisi
        l'adresse avec laquelle vous vous êtes enregistré et vérifiez que le
        message ne soit pas dans vos spams.
    </p>
{% endblock form %}

{% block bottom %}
{% endblock bottom %}
